/*COMMON ELEMENTS*/
body{
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    background: url(img/map_background.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

.contentWrapper{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 3.0em;
}

/* HEADER */
header {
    padding:2.5em 0 0.5em;
    margin: 0 0 2.0em;
    background: #DAD5BA;
}

/* NAV BAR */
nav {
    color: #57554A;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    padding: 1.0em 1.0em 0.5em;
    margin: 1.0em 0 ;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav li a, nav li a:visited {
    text-decoration: none;
    color: #DAD5BA;
    padding: 0.3em 0.6em;
}

nav li a:hover {
    color: #57554A;
    background-color: #DAD5BA;
}

nav#utility-menu {
    float: right;
    background-color: #57554A;
    width: 100%;
    height: 1.5em;
    text-align: right;
    margin: -1.5em 0 0 0;
}

nav#utility-menu li{
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}

/*FOOTER*/
footer ul li::before{
    content: "| ";
    padding-right: 0.7em;
}